{% extends 'base.html.twig' %}
{% block title %}Bienvenue Chez Admin ERPOS{% endblock %}  
{% block body %}    
        <div class="login-container">
            <div class="login-box animated fadeInDown">
                <div class="login-logo"></div>
                <div class="login-body">
                    <div class="login-title">Bienvenue Chez <strong> ERPOS </strong></div>
                   
                </div>
               
            </div>
        </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/plugins/jquery/jquery.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('js/plugins/validationengine/languages/jquery.validationEngine-fr.js') }}"></script>
<script type='text/javascript' src="{{ asset('js/plugins/validationengine/jquery.validationEngine.js') }}"></script>  
<script type="text/javascript" src="{{ asset('js/plugins.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/actions.js') }}"></script>
{% endblock %}





