{% extends 'base.html.twig' %}
{% block title %}Bienvenue Chez Admin ERPOS{% endblock %} 
{% block stylesheets %}
 <link rel="stylesheet" type="text/css" href="{{ asset('css/cropper/cropper.min.css') }}"/>
 {% endblock %} 
{% block body %} 
        <div class="page-container page-navigation-top">            
            <div class="page-content">
                {{ include('ErposBundle:Parametrage:menu_utilisateur.html.twig', { 'menu': menu,'header_menu': header_menu }) }}
                <div class="page-title">                    
                    <h2><span class="fa fa-plus"></span> {{ title }}</h2>
                </div>  
                <div class="page-content-wrap">
                    <div class="row">    
                     {{ form_start(clientForm, {'attr': {'class': 'form-horizontal'} }) }}               
                        <div class="col-md-3 col-sm-4 col-xs-5">
                            <div class="panel panel-default">                                
                                <div class="panel-body">
                                    <h3><span class="fa fa-camera"></span> Photo</h3>
            
                                    <div class="text-center" id="user_image">
                                        <img src="{{ asset('assets/images/users/logo_client.png') }}" class="img-thumbnail"/>
                                    </div>                                    
                                </div>
                                <div class="panel-body form-group-separated">
                                    <div class="form-group">                                        
                                        <div class="col-md-12 col-xs-12">
                                            <a href="#" class="btn btn-primary btn-block btn-rounded" data-toggle="modal" data-target="#modal_change_photo">Ajouer une photo</a>
                                        </div>
                                    </div>
                                </div>
								
                            </div>
							 <!--<div class="panel panel-default">
                                <div class="panel-body">
                                    <h3><span class="fa fa-cog"></span> Settings</h3>
                                </div>
                                <div class="panel-body form-horizontal form-group-separated">   
                                </div>
                            </div>-->
                    
                            
                        </div>
                        <div class="col-md-9 col-sm-8 col-xs-7">

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3><span class="fa fa-plus"></span> Nouveaux client</h3>
									<div class="btn-group pull-right"  >
									<a class="btn btn-danger dropdown-toggle" href="{{path('utilisateurs')}}">
									<i class="fa fa-list"></i> Liste des utilisateurs</a>
								</div>  
                                </div>
									
                                <div class="panel-body form-group-separated">
                                    <div class="form-group">
									      {{ form_label(clientForm.nomComplet, 'Nom / Prénom client ', { 'label_attr': {'class': 'col-md-3 col-xs-5 control-label'} }) }}
                                        <div class="col-md-9 col-xs-7">
										  {{ form_widget(clientForm.nomComplet,{ 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div> 
									<div class="form-group">
									      {{ form_label(clientForm.username, 'Login ', { 'label_attr': {'class': 'col-md-3 col-xs-5 control-label'} }) }}
                                        <div class="col-md-9 col-xs-7">
										<div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                                {{ form_widget(clientForm.username,{ 'attr': {'class': 'form-control'} }) }}
                                        </div> 
									   </div>  
                                      </div>
									  <div class="form-group">
									      {{ form_label(clientForm.password, 'Password', { 'label_attr': {'class': 'col-md-3 col-xs-5 control-label'} }) }}
                                        <div class="col-md-9 col-xs-7">
										<div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                                {{ form_widget(clientForm.password,{ 'attr': {'class': 'form-control'} }) }}
                                        </div>  
                                       </div>
                                       </div> 
									<div class="form-group">
									      {{ form_label(clientForm.numTel, 'Numéro Télephonique ', { 'label_attr': {'class': 'col-md-3 col-xs-5 control-label'} }) }}
                                        <div class="col-md-9 col-xs-7">
										  {{ form_widget(clientForm.numTel,{ 'attr': {'class': 'form-control'} }) }}
                                     </div>
                                    </div> 
									 <div class="form-group">
									      {{ form_label(clientForm.mobile, 'Mobile ', { 'label_attr': {'class': 'col-md-3 col-xs-5 control-label'} }) }}
                                        <div class="col-md-9 col-xs-7">
										  {{ form_widget(clientForm.mobile,{ 'attr': {'class': 'form-control'} }) }}
										</div>
                                    </div> 
									 								
									<div class="form-group">
									      {{ form_label(clientForm.email, 'Email ', { 'label_attr': {'class': 'col-md-3 col-xs-5 control-label'} }) }}
                                        <div class="col-md-9 col-xs-7">
										  {{ form_widget(clientForm.email,{ 'attr': {'class': 'form-control'} }) }}
                                     </div>
                                    </div>  
	
									<div class="form-group">
									      {{ form_label(clientForm.voipProvider, 'VoIp Provider ', { 'label_attr': {'class': 'col-md-3 col-xs-5 control-label'} }) }}
                                        <div class="col-md-9 col-xs-7">
										  {{ form_widget(clientForm.voipProvider,{ 'attr': {'class': 'form-control'} }) }}
										</div>
                                    </div> 
									 <div class="form-group">
                                         {{ form_label(clientForm.service_id, 'Choisir un service', { 'label_attr': {'class': 'col-md-3 col-xs-5 control-label'} }) }}									
                                        <div class="col-md-9 col-xs-7"> 
											{{ form_widget(clientForm.service_id,{ 'attr': {'class': 'form-control select'} }) }}										
                                             
                                        </div>
                                    </div>
									 <div class="form-group">
                                         {{ form_label(clientForm.groupe_id, 'Choisir un groupe', { 'label_attr': {'class': 'col-md-3 col-xs-5 control-label'} }) }}									
                                        <div class="col-md-9 col-xs-7"> 
											{{ form_widget(clientForm.groupe_id,{ 'attr': {'class': 'form-control select'} }) }}										
                                             
                                        </div>
                                    </div>
									<!---
									 <div class="form-group">
                                        <label class="col-md-3 col-xs-5 control-label">VoIP</label>
                                        <div class="col-md-9 col-xs-7">
                                            <label class="switch">
                                                <input type="checkbox"   value="0"/>
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>	
									--->
                                    <div class="form-group">
                                        <div class="col-md-12 col-xs-5">
										{{ form_row(clientForm.save, { 'attr': {'class': 'btn btn-primary btn-rounded pull-right'} , 'label': 'Enregistrer' }) }}
                                        </div>
                                    </div>
									 
									
                                </div>
                            </div>
                            {{ form_end(clientForm) }}
                        </div>
                        
                        <div class="col-md-3">
                           
                        </div>
                    </div>
                </div>
		 
			</div>
			
		</div>	
		<div class="modal animated fadeIn" id="modal_change_photo" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="smallModalHead">Ajouer une photo</h4>
						</div>                    
						 
						<form id="cp_crop" method="post" action="{{path('ajout_logo_user')}}">
							<div class="modal-body">
							<div class="text-center" id="cp_target">Veuillez ajouter une photo !!!</div>
							<input type="hidden" name="cp_img_path" id="cp_img_path"/>
							<input type="hidden" name="ic_x" id="ic_x"/>
							<input type="hidden" name="ic_y" id="ic_y"/>
							<input type="hidden" name="ic_w" id="ic_w"/>
							<input type="hidden" name="ic_h" id="ic_h"/>                        
							</div>                    
						</form>                   
						 
						<form id="cp_upload" method="post" enctype="multipart/form-data" action="{{path('view_logo_user')}}"  >
                         <div class="modal-body form-horizontal form-group-separated">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Nouvelle photo</label>
                            <div class="col-md-4">
                                <input type="file" class="fileinput btn-info" name="file" id="cp_photo" data-filename-placement="inside" title="Sélectionner une image"/>
                            </div>                            
                        </div>                        
                    </div>
                    </form>
						
						<div class="modal-footer">
							<button type="button" class="btn btn-success disabled" id="cp_accept">Accepter</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						</div>
					</div>
				</div>
			</div>		
	{% endblock %}
	
{% block javascripts %}
		
	    <audio id="audio-alert" src="{{ asset('audio/alert.mp3') }}" preload="auto"></audio>
        <audio id="audio-alert" src="{{ asset('audio/alert.mp3') }}" preload="auto"></audio>
        <audio id="audio-fail" src="{{ asset('audio/fail.mp3') }}" preload="auto"></audio>
        <script type="text/javascript" src="{{ asset('js/plugins/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/jquery/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/bootstrap/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/jquery/jquery-migrate.min.js') }}"></script> 
        <script type='text/javascript' src="{{ asset('js/plugins/icheck/icheck.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js') }}"></script>  
        <script type="text/javascript" src="{{ asset('js/plugins/bootstrap/bootstrap-file-input.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/plugins/bootstrap/bootstrap-datepicker.js') }}"></script>                
 
        <script type="text/javascript" src="{{ asset('js/plugins/bootstrap/bootstrap-select.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/tagsinput/jquery.tagsinput.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/form/jquery.form.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/cropper/cropper.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/settings.js') }}"></script>        
        <script type="text/javascript" src="{{ asset('js/plugins.js') }}"></script>        
        <script type="text/javascript" src="{{ asset('js/actions.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/demo_edit_profile.js') }}"></script>
 
 
{% endblock %}





