{% extends 'base.html.twig' %}
{% block title %}Bienvenue Chez Admin ERPOS{% endblock %}  
 
{% block body %} 
        <div class="page-container page-navigation-top">            
            <div class="page-content">
                {{ include('ErposBundle:Parametrage:menu_utilisateur.html.twig', { 'menu': menu,'header_menu': header_menu }) }}
                <div class="page-title">                    
                    <h2><span class="fa fa-list-alt"></span> {{ title }}</h2>
                </div>  
							
                <div class="page-content-wrap">                
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
								  <div class="page-content-wrap">
										{% if app.flashes('success') is defined %}
											{% for message in app.flashes('success') %}
												<div class="alert alert-warning" style="font-size:18px;font-style:italic;text-align:center;" role="alert">
												<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
												{{ message }}
												</div>	
											{% endfor %}
										{% endif %}			
									</div>
									
								 {% if pemission is not empty %}
								 {% if pemission.getAddPermission() is defined and pemission.getAddPermission() == 1  %}
									<div class="btn-group pull-left" style="padding:10px;">
										<a class="btn btn-danger dropdown-toggle" href="{{path('ajout_user')}}">
										<i class="fa fa-plus"></i> Ajouter un utilisateur</a>
									</div> 
									{% endif %}									
								  {% endif %}
																	
                                     <div class="panel-body panel-body-table">

                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-actions">
                                            <thead>
                                                <tr>
													<th width="50">Photo</th>
                                                    <th width="50">Compte</th>
                                                    <th>NOM COMPLET</th>
													<th>SERVICE</th>
													<th>TÉL.</th>
													<th>MOBILE</th>
													<th>EMAIL</th>
													<th>DERNIER ACCÈS</th>
													<th width="120">actions</th>
                                                </tr>
                                            </thead>
                                            <tbody> 
											{% for util in Listeutilisateurs %}
                                                <tr id="trow_1">
													<td class="text-center">
													<div class="profile_tab"><div class="profile-image">
														<img src="{{util.photo}}" alt="John Doe" class="mCS_img_loaded">
														</div>
													</div>
													</td>
                                                    <td class="text-center">{{util.username}}</td>
                                                    <td> {{util.nomComplet}} </td>
													<td> {{util.service_id.getNomService()}} </td>
													<td> {{util.numTel}} </td>
													<td> {{util.mobile}} </td>
													<td> {{util.email}} </td>
													{% if(util.dernierAct) %}
													<td> {{util.dernierAct |date('Y-m-d H:i:s') }} </td>
													{% else %}
													<td>   </td>
													{% endif %}
                                                    <td>
													{% if pemission is not empty %}
														{% if pemission.getEditPermission() is defined and pemission.getEditPermission() == 1  %}
                                                        <a class="btn btn-default btn-rounded btn-condensed btn-sm" href="{{ path('edit_utilisateur', { 'user': util.id }) }}"  ><span class="fa fa-pencil"></span></a>
                                                        {% endif %}									
														{% if pemission.getSuppPermission() is defined and pemission.getSuppPermission() == 1  %}
													   <button class="btn btn-danger btn-rounded btn-condensed btn-sm" onClick="delete_row({{util.getId()}});"><span class="fa fa-times"></span></button>
														{% endif %} 
													{% endif %} 
												   </td>
                                                </tr>
                                             {% endfor %}
                                            </tbody>
                                        </table>
										
                                    </div>                                
									<div class="row">
										<div class="col-md-12">
											<div class="pagination pagination-sm pull-right push-down-10 push-up-10">{{ knp_pagination_render(Listeutilisateurs) }}</div>                          
										</div>
								  </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>              
            </div>            
        </div>
		
		
       <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-times"></span> Supprimer <strong>utilisateur</strong> ?</div>
                    <div class="mb-content">
                        <p>Êtes-vous sûr de vouloir supprimer ce utilisateur?</p>                    
                        <p>Appuyez sur Oui si vous êtes sûr.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a class="btn btn-success btn-lg mb-control-yes">Oui</a>
                            <a class="btn btn-default btn-lg mb-control-close">Non</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
		 
{% endblock %}

{% block javascripts %}
   
        <audio id="audio-alert" src="{{ asset('audio/alert.mp3') }}" preload="auto"></audio>
        <audio id="audio-fail" src="{{ asset('audio/fail.mp3') }}" preload="auto"></audio>
        <script type="text/javascript" src="{{ asset('js/plugins/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/jquery/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/bootstrap/bootstrap.min.js') }}"></script>
        <script type='text/javascript' src="{{ asset('js/plugins/icheck/icheck.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js') }}"></script>  
        <script type="text/javascript" src="{{ asset('js/settings.js') }}"></script>        
        <script type="text/javascript" src="{{ asset('js/plugins.js') }}"></script>        
        <script type="text/javascript" src="{{ asset('js/actions.js') }}"></script>
		<script>$(function(){ 
		pageLoadingFrame("show");
		setTimeout(function(){
                        pageLoadingFrame("hide");
                    },200); 

		});</script> 
		<script>
		function delete_row(row){
 
			var box = $("#mb-remove-row");
			box.addClass("open");
			 var route = Routing.generate('remove_user', {
				'user': row
			});
			$('.mb-control-yes').attr('href',route);
		}
	</script>
{% endblock %}